
.world-section{
    background: #f5f5f5;
}
.world-section h6{
    font-size: 22px;
    margin-bottom: 50px;
    color: var(--header);
    font-weight: 600;
}

.map{
    position: relative;
}

.map .img1{
    /* transform: rotateX(50deg); */
    filter: drop-shadow(2px 4px 6px black);
    perspective: 1200px;
    transform-style: preserve-3d;
    
}


.loc1{
    position: absolute;
    top: 25%;
    left: 15%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
    
}
.loc2{
    position: absolute;
    top: 54%;
    left: 57%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}
.loc3{
    position: absolute;
    top: 10%;
    left: 12%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}
.loc4{
    position: absolute;
    top: 54%;
    left: 27%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}
.loc5{
    position: absolute;
    top: 40%;
    left: 70%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}

.loc6{
    position: absolute;
    top: 76%;
    left: 82%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}
.loc7{
    position: absolute;
    top: 15%;
    left: 61%;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}

.loc i{
    color: #00013f;
    transform: scale(1.2) perspective(300px) rotateX(-40deg);
}

.loc div{
    background-color: rgba(99, 99, 99, 0.703);
    text-align: center;
    width: max-content;
    /* display: none; */
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;

} 

.loc div a{
    color: white;
}

.loc1:hover div, .loc1 div:hover, .loc1 div a:hover{
    display: block;
}
.loc2:hover div, .loc2 div:hover, .loc2 div a:hover{
    display: block;
}
.loc3:hover div, .loc3 div:hover, .loc3 div a:hover{
    display: block;
}
.loc4:hover div, .loc4 div:hover, .loc4 div a:hover{
    display: block;
}
.loc5:hover div, .loc5 div:hover, .loc5 div a:hover{
    display: block;
}
.loc6:hover div, .loc6 div:hover, .loc6 div a:hover{
    display: block;
}
.loc7:hover div, .loc7 div:hover, .loc7 div a:hover{
    display: block;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
        filter: drop-shadow(0);
    }
    100% {
        transform: translateY(8px);
        filter: drop-shadow(0px 10px 10px #3d3d3d);
    }
}

.world-section span.non-active{
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
    opacity: 0;
    text-align: center;
    
}

.world-section span.active{
    transform: translateX(0);
    transition: all 1s ease-in-out 0.5s;
    opacity: 1;
}

.world-section h2.non-active{
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
    opacity: 0;
    text-align: center;
    
}

.world-section h2.active{
    transform: translateX(0);
    transition: all 1s ease-in-out 0.5s;
    opacity: 1;
}
.world-section .img1.non-active{
    /* transform: translateX(-100%); */
    transition: all 0.8s ease-in-out;
    opacity: 0;
    text-align: center;
    
}

.world-section .img1.active{
    /* transform: translateX(0); */
    transition: all .5s ease-in-out 1.2s;
    opacity: 1;
}


.world-section .loc1{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc1.active{
    transition: all .2s ease-in-out 1.4s;
    opacity: 1;
    
}


.world-section .loc2{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc2.active{
    transition: all .2s ease-in-out 1.6s;
    opacity: 1;
}


.world-section .loc3{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc3.active{
    transition: all .2s ease-in-out 1.8s;
    opacity: 1;
}


.world-section .loc4{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc4.active{
    transition: all .2s ease-in-out 2s;
    opacity: 1;
}

.world-section .loc5{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc5.active{
    transition: all .2s ease-in-out 2s;
    opacity: 1;
}

.world-section .loc6{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc6.active{
    transition: all .2s ease-in-out 2.2s;
    opacity: 1;
}

.world-section .loc7{
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}

.world-section .loc7.active{
    transition: all .2s ease-in-out 2.4s;
    opacity: 1;
}

@keyframes trans1 {
    
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}